<%@ tag description="Document Wrapper" pageEncoding="UTF-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="pg" tagdir="/WEB-INF/tags/page" %>
<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie ltie9 ltie10 no-js"><![endif]-->
<!--[if IE 9]><html class="ie ie9 ltie10 no-js"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js"><!--<![endif]-->

<jsp:doBody/>

</html>